h1 {
  text-align: left;  /* Alinha à esquerda */
  font-weight: 600;  /* Negrito */
  font-size: 36px;   /* Aumenta o tamanho */
  margin-bottom: 20px; /* Adiciona um pequeno espaço abaixo */
}

button {
  padding: 12px 18px;
  font-size: 16px;
  border-radius: 20px;
  background-color: var(--accent);
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #333;
}

/* Chip style button */
.chip-button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #f0f0f5;
  color: var(--text);
  border: 1px solid #ccc;
  border-radius: 20px;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}

.chip-button.active {
  background-color: var(--accent);
  color: white;
}

.task-item {
  background: #fafafa;
  border: 1px solid var(--border);
  padding: 16px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-item.completed {
  background: #e6ffe6; /* A task will have a greenish background once completed */
}

.task-info {
  display: flex;
  flex-direction: column;
}

.task-category,
.task-time {
  font-size: 12px;
  color: var(--subtle);
}

.task-item label {
  color: var(--text);
}

.task-item.completed label {
  color: #666;
}
